
body {
    background: #000000;
    background-image:url('../images/lego_background2.jpg');
    background-size:100%;
    background-repeat: repeat;
    
  }

 #header{
 	font-color: #fff400;
 }

.panel-body{
	font-size: 22px;
	color: white;
	height: 40px;
	margin-top: 20px;
	background-color: black;
	
}

.thumbnail{	
	margin-left: 20px;
	height: 150px;
	width: 120px;
	border-top: 1px solid red;
	text-align: center;
		

}


































